*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  min-height: 100vh;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
}

.paragraph{
  font-size: 30px;
}

.header{
  flex-basis: 100%;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  justify-content: center;
  display: flex;
}

.main-contente{
  flex: 1 0 400px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
}

.item{
  width: 350px;
  height: 240px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  flex-basis: 100%;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  justify-content: center;
  display: flex;
}

.footer{
  flex-basis: 100%;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  justify-content: center;
  display: flex;
}